# Dataset creation

In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

## Data loading

In [3]:
# Load data from archives 
file_path="/Users/liaverso/Fair-Credit-Scoring/Data/"

def load_data(path, csv_name):
    csv_path = os.path.join(path, csv_name)
    df = pd.read_csv(csv_path)
    df.columns = df.columns.str.upper()  # Convert column names to uppercase 
    return df

### Loading the target variable

In [4]:
q20d = pd.read_csv("/Users/liaverso/Fair-Credit-Scoring/Data/q20d.csv",low_memory=False) 
q16d = pd.read_csv("/Users/liaverso/Fair-Credit-Scoring/Data/q16d.csv",low_memory=False)
q14d = pd.read_csv("/Users/liaverso/Fair-Credit-Scoring/Data/q14d.csv",low_memory=False)
q12d = pd.read_csv("/Users/liaverso/Fair-Credit-Scoring/Data/q12d.csv",low_memory=False)
q10d = pd.read_csv("/Users/liaverso/Fair-Credit-Scoring/Data/q10d.csv",low_memory=False)
q08d = pd.read_csv("/Users/liaverso/Fair-Credit-Scoring/Data/q08d.csv",low_memory=False)

In [5]:
q20d = q20d[['NQUEST','RITARDO','MUTUOR','MUTUOE','MUTUORIF']] #'FMUTRIF'
q16d = q16d[['nquest','ritardo','mutuor','mutuoe','mutuorif']] #'fmutrif'
q14d = q14d[['nquest','ritardo','mutuor','mutuoe','mutuorif']] #'fmutrif'
q12d = q12d[['NQUEST','ritardo','mutuor','mutuoe','mutuorif']] #'fmutrif'
q10d = q10d[['NQUEST','RITARDO','MUTUOR','MUTUOE','MUTUORIF']] #'FMUTRIF'
q08d = q08d[['nquest','ritardo','mutuor','mutuoe','mutuorif']]

# Rename
q20d.columns = ['NQUEST','delay_90days','MUTUOR','MUTUOE','MUTUORIF']
q16d.columns = ['NQUEST','delay_90days','MUTUOR','MUTUOE','MUTUORIF']
q14d.columns = ['NQUEST','delay_90days','MUTUOR','MUTUOE','MUTUORIF']
q12d.columns = ['NQUEST','delay_90days','MUTUOR','MUTUOE','MUTUORIF']
q10d.columns = ['NQUEST','delay_90days','MUTUOR','MUTUOE','MUTUORIF']
q08d.columns = ['NQUEST','delay_90days','MUTUOR','MUTUOE','MUTUORIF']

### Loading the features

#### Income of each family component

In [8]:
RPER = load_data(file_path,"rper.csv") 
RPER = RPER[RPER["ANNO"].isin([2008,2010,2012,2014,2016,2020])]
RPER_x = RPER.drop(["ANNO","NQUEST","NORD"],axis=1)

In [9]:
RPER.describe()

,NQUEST,NORD,ANNO,YL2,YL1,YTP1,YTP2,YM3,YL,YTP,YTA,YT,YM1,YM2,YM,YCA1,YCA2,YCA,YCF2,YCF3,YCF4,Y1,YCF1,YCF,YC,Y,YCF1L,YCF2L,YCF3L,YCFL
count,77382.000000,77382.000000,77382.000000,77382.000000,77382.000000,77382.000000,77382.000000,66506.000000,77382.000000,77382.000000,77382.000000,77382.000000,66506.000000,0.0,7.738200e+04,77382.000000,77382.000000,77382.000000,77382.000000,77382.000000,77382.000000,7.738200e+04,77382.000000,77382.000000,77382.000000,7.738200e+04,77382.000000,77382.000000,77382.000000,77382.000000
mean,766716.579114,1.559252,2013.025613,62.808689,6875.310173,6234.287596,19.924763,278.842609,6938.118862,6254.212359,79.629904,6333.842262,1790.485648,NaN,3.074579e+03,345.601599,4143.237314,4488.838912,44.374981,189.187482,178.474403,2.083538e+04,84.623853,139.711913,4628.550825,2.097509e+04,91.840804,44.985249,216.470706,174.822356
std,216653.394521,0.797395,3.826795,712.948911,11374.400494,9583.692073,790.261272,3468.431646,11574.378893,9647.500152,1912.133907,9624.953773,8508.575379,NaN,1.991016e+04,3523.689000,7184.468271,8863.607492,688.949519,3508.567905,1010.508854,2.617183e+04,548.305834,3890.875816,10399.386829,2.737653e+04,667.435145,702.532591,4615.559257,4989.051178
min,173.000000,1.000000,2008.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-100000.000000,-52000.000000,-30000.000000,NaN,-2.000000e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.826000e+05,0.000000,-63260.308840,-12047.253540,-1.824994e+05,0.000000,0.000000,0.000000,-63260.308840
25%,688104.000000,1.000000,2010.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.050000e+04,0.000000,0.000000,0.000000,1.047850e+04,0.000000,0.000000,0.000000,0.000000
50%,854754.000000,1.000000,2012.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.690000e+04,0.000000,0.000000,140.314095,1.688852e+04,0.000000,0.000000,0.000000,0.000000
75%,894803.000000,2.000000,2016.000000,0.000000,14300.000000,11570.000000,0.000000,0.000000,14300.000000,11674.000000,0.000000,11700.000000,0.000000,NaN,0.000000e+00,0.000000,6000.000000,6100.000000,0.000000,0.000000,0.000000,2.440000e+04,55.917453,63.320550,6350.783344,2.442119e+04,60.218796,0.000000,0.000000,69.613600
max,975482.000000,8.000000,2020.000000,100000.000000,500000.000000,429000.000000,130000.000000,220000.000000,500000.000000,429000.000000,50000.000000,426000.000000,500000.000000,NaN,2.000000e+06,210000.000000,223900.000000,330000.000000,84297.722997,716238.672820,80920.224000,2.092225e+06,61250.730118,716289.914220,815289.914220,2.339258e+06,82771.256917,84297.722997,967890.098410,967959.343530

In [10]:
#for column in RPER_x.select_dtypes(include='number').columns:
#    plt.figure(figsize=(6, 4))
#    sns.kdeplot(RPER_x[column], shade=True)
#    plt.title(f'Distribution of {column}')
#    plt.show()

#### Aggregated familiar income

In [11]:
RFAM = load_data(file_path,"rfam.csv") 
RFAM = RFAM[RFAM["ANNO"].isin([2008,2010,2012,2014,2016,2020])]
RFAM_x = RFAM.drop(["ANNO","NQUEST"],axis=1)

In [12]:
RFAM.describe()

,NQUEST,ANNO,YL,YL1,YL2,YT,YTP,YTP1,YTP2,YTA,YM,YM1,YM2,YM3,YCA,YCA1,YCA2,YCF2,YCF3,YCF4,Y1,CLY2,CLY,YCF1,YCF,YC,Y,YCF1L,YCF2L,YCF3L,YCFL
count,45894.000000,45894.000000,45894.000000,45894.000000,45894.000000,45894.000000,45894.000000,45894.000000,45894.000000,45894.000000,4.589400e+04,39655.000000,0.0,39655.000000,45894.000000,45894.000000,45894.000000,45894.000000,45894.000000,45894.000000,4.589400e+04,45894.000000,45894.000000,45894.000000,45894.000000,45894.000000,4.589400e+04,45894.000000,45894.000000,45894.000000,45894.000000
mean,772593.962326,2013.047937,11698.381352,11592.479448,105.901904,10679.508910,10545.244710,10511.649513,33.595198,134.264200,5.184056e+03,3002.850549,NaN,467.651155,7568.643673,582.719809,6985.923864,74.820777,318.989535,300.926183,3.513059e+04,3.128644,5.774633,142.684512,235.568642,7804.212315,3.536616e+04,154.853032,75.849752,364.991855,294.768456
std,211010.935704,3.791336,17622.921692,17352.145554,951.825158,13647.214263,13708.041186,13618.125626,1064.998583,2560.428739,2.741681e+04,11904.044115,NaN,4937.241543,10447.818889,4560.406641,8195.877767,893.330941,4551.349776,1298.034089,3.777709e+04,1.421471,2.893561,706.136452,5050.090166,12552.486240,3.924623e+04,861.020590,910.958683,5988.806920,6475.583195
min,173.000000,2008.000000,0.000000,0.000000,0.000000,-52000.000000,0.000000,0.000000,0.000000,-100000.000000,-2.000000e+05,-30000.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.826000e+05,1.000000,1.000000,0.000000,-63260.308840,-12047.253540,-1.824994e+05,0.000000,0.000000,0.000000,-63260.308840
25%,704928.250000,2010.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,NaN,0.000000,3600.000000,0.000000,3570.000000,0.000000,0.000000,0.000000,1.780000e+04,2.000000,3.000000,7.330563,0.000000,3001.770086,1.778162e+04,8.375325,0.000000,0.000000,0.000000
50%,856688.000000,2012.000000,0.000000,0.000000,0.000000,8150.500000,7800.000000,7800.000000,0.000000,0.000000,0.000000e+00,0.000000,NaN,0.000000,6000.000000,0.000000,6000.000000,0.000000,0.000000,0.000000,2.720000e+04,3.000000,6.000000,38.035315,37.992330,6000.000000,2.718414e+04,43.013426,0.000000,0.000000,43.013426
75%,895849.000000,2016.000000,19100.000000,19000.000000,0.000000,16900.000000,16900.000000,16900.000000,0.000000,0.000000,0.000000e+00,0.000000,NaN,0.000000,9000.000000,0.000000,8400.000000,0.000000,0.000000,0.000000,4.250000e+04,4.000000,8.000000,118.680665,202.598535,9062.060762,4.253266e+04,125.629876,0.000000,0.000000,221.106436
max,975482.000000,2020.000000,500000.000000,500000.000000,100000.000000,426000.000000,429000.000000,429000.000000,130000.000000,74000.000000,2.035000e+06,500000.000000,NaN,220000.000000,330000.000000,210000.000000,223900.000000,84297.722997,716238.672820,80920.224000,2.127225e+06,5.000000,10.000000,61250.730118,716289.914220,815289.914220,2.374258e+06,82771.256917,84297.722997,967890.098410,967959.343530

#### Characteristics of the family members

In [13]:
COMP = load_data(file_path,"comp.csv") 
COMP = COMP[COMP["ANNO"].isin([2008,2010,2012,2014,2016,2020])]
COMP_x = COMP.drop(["ANNO","NQUEST","NORD"],axis=1)

In [14]:
COMP.head()

,NQUEST,NORD,ANNO,IREG,IPROV,ACOM5,PAR,SESSO,ETA,ETA5,STUDIO,SETTP3,QUALP7,QUALP3,NONOC,AREA5,AREA3,SETTP7,CFDIC,CFEUR,QUALP7N,ACOM4C,SETTP9,STACIV,NORDP,NINTPRE,NASCREG,NASCAREA,ANASC,QUALP10,SETTP11,CFRED,NEQU,PERC,PERL,NPERC,NPERL,NCOMP,ENASC2,ETAPEN,ASNONOC,QUALP10N,ASNONOC2
343539,173,1,2008,18,NaN,4,1.0,1,60.0,4,4.0,3.0,NaN,3,4.0,4,3,7.0,1,1,7.0,3.0,9.0,1.0,1.0,10.0,18.0,3.0,1948.0,10.0,11.0,1,1.5,1,0,1,0,2,NaN,NaN,2.0,NaN,NaN
343540,173,2,2008,18,NaN,4,2.0,2,58.0,4,4.0,3.0,NaN,3,5.0,4,3,7.0,0,0,7.0,3.0,9.0,1.0,2.0,10.0,18.0,3.0,1950.0,10.0,11.0,0,1.5,0,0,1,0,2,NaN,NaN,8.0,NaN,NaN
343541,375,1,2008,16,NaN,4,1.0,2,83.0,5,2.0,3.0,NaN,3,4.0,4,3,7.0,1,1,7.0,3.0,9.0,4.0,1.0,10.0,16.0,3.0,1925.0,10.0,11.0,1,1.0,1,0,1,0,1,NaN,NaN,8.0,NaN,NaN
343542,465,1,2008,8,NaN,3,1.0,1,54.0,4,4.0,1.0,NaN,1,0.0,2,1,1.0,1,1,1.0,2.0,1.0,1.0,1.0,10.0,8.0,1.0,1954.0,1.0,1.0,0,2.5,1,1,4,4,4,NaN,58.0,NaN,NaN,NaN
343543,465,2,2008,8,NaN,3,2.0,2,52.0,4,4.0,1.0,NaN,1,0.0,2,1,1.0,0,0,1.0,2.0,1.0,1.0,2.0,10.0,3.0,1.0,1956.0,1.0,1.0,0,2.5,1,1,4,4,4,NaN,NaN,NaN,NaN,NaN

In [15]:
#for column in COMP_x.select_dtypes(include='number').columns:
#    plt.figure(figsize=(6, 4))
#    sns.kdeplot(COMP_x[column], shade=True)
#    plt.title(f'Distribution of {column}')
#    plt.show()

#### Familiar consumption

In [17]:
CONS = load_data(file_path,"cons.csv") 
CONS = CONS[CONS["ANNO"].isin([2008,2010,2012,2014,2016,2020])]
CONS_x = CONS.drop(["ANNO","NQUEST"],axis=1)

In [18]:
CONS.describe()

,NQUEST,ANNO,Y1,C,CD1,CD2,CD,CN,S1,S,Y
count,45894.000000,45894.000000,4.589400e+04,45894.000000,45894.000000,45894.000000,45894.000000,45894.000000,4.589400e+04,4.589400e+04,4.589400e+04
mean,772593.962326,2013.047937,3.513059e+04,25156.460672,822.895629,471.416547,1294.312176,23862.148496,9.974129e+03,1.020970e+04,3.536616e+04
std,211010.935704,3.791336,3.777709e+04,17791.776304,4406.618440,2034.576960,5014.410074,16057.390221,2.800435e+04,2.915505e+04,3.924623e+04
min,173.000000,2008.000000,-1.826000e+05,-7000.000000,-40000.000000,0.000000,-40000.000000,1680.000000,-2.299000e+05,-2.412467e+05,-1.824994e+05
25%,704928.250000,2010.000000,1.780000e+04,15000.000000,0.000000,0.000000,0.000000,14760.000000,7.000000e+02,7.092373e+02,1.778162e+04
50%,856688.000000,2012.000000,2.720000e+04,21000.000000,0.000000,0.000000,0.000000,20400.000000,5.000000e+03,5.025590e+03,2.718414e+04
75%,895849.000000,2016.000000,4.250000e+04,30000.000000,0.000000,200.000000,450.000000,28600.000000,1.320000e+04,1.327859e+04,4.253266e+04
max,975482.000000,2020.000000,2.127225e+06,559225.000000,250000.000000,100000.000000,250000.000000,554225.000000,1.633100e+06,1.815033e+06,2.374258e+06

In [19]:
#for column in CONS_x.select_dtypes(include='number').columns:
#    plt.figure(figsize=(6, 4))
#    sns.kdeplot(CONS_x[column], shade=True)
#    plt.title(f'Distribution of {column}')
#    plt.show()

#### Value of the components of wealth at the family level

In [20]:
RICF = load_data(file_path,"ricf.csv") #Valore delle componenti della ricchezza a livello familiare.
RICF = RICF[RICF["ANNO"].isin([2008,2010,2012,2014,2016,2020])]
RICF_x = RICF.drop(["ANNO","NQUEST"],axis=1)

In [21]:
RICF.describe()

,NQUEST,AR1,AR2,AR3,AR,ANNO,W,AF,PF,PF1,PF2,AF2,AF3,AF1,PF3,AF4,CLW2,CLW
count,45894.000000,4.589400e+04,4.589400e+04,4.589400e+04,4.589400e+04,45894.000000,4.589400e+04,4.589400e+04,4.589400e+04,4.589400e+04,45894.000000,4.589400e+04,4.589400e+04,4.589400e+04,45894.000000,4.589400e+04,45894.000000,45894.000000
mean,772593.962326,2.303769e+05,4.188811e+04,5.260584e+03,2.775256e+05,2013.047937,3.161502e+05,5.005877e+04,1.147053e+04,1.078994e+04,420.619645,4.132535e+03,2.404392e+04,2.050795e+04,259.978843,1.374364e+03,3.202423,5.916133
std,211010.935704,4.009520e+05,1.016023e+06,3.093736e+04,1.180002e+06,3.791336,1.522868e+06,5.849892e+05,5.514270e+04,5.274312e+04,9180.006399,7.418061e+04,4.818456e+05,1.785295e+05,3922.712525,5.104679e+04,1.412143,2.879937
min,173.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2008.000000,-1.585999e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,1.000000,1.000000
25%,704928.250000,2.000000e+04,0.000000e+00,5.000000e+02,3.501250e+04,2010.000000,4.070813e+04,1.401993e+03,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,1.000000e+03,0.000000,0.000000e+00,2.000000,3.000000
50%,856688.000000,1.500000e+05,0.000000e+00,2.000000e+03,1.591250e+05,2012.000000,1.660000e+05,7.000000e+03,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,5.016452e+03,0.000000,0.000000e+00,3.000000,6.000000
75%,895849.000000,2.800000e+05,0.000000e+00,5.000000e+03,3.007000e+05,2016.000000,3.160000e+05,2.685883e+04,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,1.500000e+04,0.000000,0.000000e+00,4.000000,8.000000
max,975482.000000,1.805000e+07,1.000000e+08,3.000000e+06,1.112500e+08,2020.000000,1.621813e+08,7.302826e+07,3.606000e+06,3.606000e+06,700000.000000,1.339599e+07,7.301173e+07,1.976550e+07,270000.000000,1.000000e+07,5.000000,10.000000

In [22]:
#for column in RICF_x.select_dtypes(include='number').columns:
#    plt.figure(figsize=(6, 4))
#    sns.kdeplot(RICF_x[column], shade=True)
#    plt.title(f'Distribution of {column}')
#    plt.show()

#### Consumption, assets and liabilities at the family level

In [23]:
FAMI = load_data(file_path,"fami.csv") 
FAMI = FAMI[FAMI["ANNO"].isin([2008,2010,2012,2014,2016,2020])]
FAMI_x = FAMI.drop(["ANNO","NQUEST"],axis=1)

In [24]:
FAMI.describe()

,ANNO,NQUEST,GODAB,CARCRE,PCD,PBFP,PBOT,PCCT,PBTP,PATS,POBB,PAZI,PQFC,CONTAN,ANTIC,MASTRIP,CONSAL,CONDIV,VREALI,WREALI,CREALI,CONNDA,CDUR1,CDUR2,CDUR,CONSA,VDUR1,WDUR1,WDUR2,WDUR,DEB12A,DEB12B,DEB12C,DEB12D,DEB12E,DEB12F,CRE12G,DEB12G,DEB12I,CRE12H,TAIUTIC,TAIUTIR,LBOT,LCCT,LATS,LOBB,LAZI,LQFC,ASSVITA,PENSINT,ASSDANNI,ASSAN,LCD,LBFP,LBTP,LAZQ,CARTA,PSRL,PPER,LSRL,LPER,LGP,PGP,CRE12I,DEB12M,DEB12N,DEB12H,DEB12O,LPCT,LCTZ,LTE,LCOOP,PPCT,PCTZ,PTE,PCOOP,ALIMENTI,DEPCC,DEPRI,LD,LDRI,PDEPC,PLIB,UTSCOPER,RITBOL,RITAFF,TIPOFAM,POVLIN,CONDGEN,RISPAR,DEB12P,LAT,PAT,PDTOT,DEPTOT,LDEPTOT,BANCOMAT,SPESECON,CARTAPRE,RAZ1,RAZ2,REGALIU,RATA_AR,RATA_CONS,RATA_PROF,PFCARTE,PFCC,COLDIS,PAZQ,STUPCF,STUMCF,STUPCO,STUMCO,RISFIN,LPCBF,LATS2,LAZI2,PPCBF,PATS2,PAZI2
count,45894.000000,45894.000000,45894.000000,45894.000000,39655.000000,39655.000000,45894.000000,39655.000000,45894.000000,39655.000000,45894.000000,39655.000000,45894.000000,7977.000000,45894.000000,3.965500e+04,45893.000000,45894.000000,45894.000000,4.588500e+04,45894.000000,45894.000000,45894.000000,45894.000000,45894.000000,45894.000000,45894.000000,4.589100e+04,45875.000000,4.587700e+04,4.589400e+04,7977.000000,45894.000000,45894.000000,45894.000000,37917.000000,45894.000000,45894.000000,45894.000000,0.0,45894.000000,45894.000000,4.589400e+04,39655.000000,39655.000000,4.589400e+04,3.965500e+04,4.589400e+04,45894.000000,45659.000000,45894.000000,45893.000000,39655.000000,3.965500e+04,4.589400e+04,4.589400e+04,45894.000000,39655.000000,39655.000000,3.965500e+04,39655.000000,4.589400e+04,45894.000000,4.589400e+04,7977.000000,7977.000000,45894.000000,4.589400e+04,39655.000000,39655.000000,4.589400e+04,45894.000000,39655.000000,39655.000000,45894.000000,45894.000000,45894.000000,45894.000000,45894.000000,4.589400e+04,45894.000000,45894.000000,45894.000000,11337.000000,29966.000000,5252.000000,45894.000000,45894.000000,45894.000000,37917.000000,45894.000000,3.791700e+04,37917.000000,45894.000000,29966.000000,2.996600e+04,45894.000000,45894.000000,45894.000000,45894.000000,45894.000000,45894.00000,4770.000000,4409.000000,646.000000,45894.000000,45894.000000,45894.000000,45894.000000,44313.000000,44313.000000,11876.000000,11876.000000,45894.000000,6239.000000,6239.000000,6.239000e+03,6239.000000,6239.000000,6239.000000
mean,2013.047937,772593.962326,1.456726,0.488016,0.022015,0.057672,0.058025,0.016820,0.024992,0.004085,0.078267,0.048115,0.071077,408.012411,299.273325,1.234734e+03,6459.356590,9546.369395,34.673051,5.260941e+03,108.648429,16005.585240,966.929577,471.416547,1438.346124,17443.931364,144.033948,8.128520e+03,12015.696717,2.014537e+04,8.151544e+03,5.691363,505.141805,67.196910,17.313069,172.699264,159.708459,259.978843,420.619645,NaN,560.218504,78.723929,1.786932e+03,453.065650,173.799190,4.132383e+03,1.530317e+03,4.848536e+03,179.754045,206.467641,128.181985,58.024862,623.175788,9.227065e+02,1.640452e+03,3.010090e+03,0.326295,0.001942,0.001210,2.264590e+02,116.621287,7.612474e+03,0.022966,1.214656e+03,425.815887,609.105345,151.106702,1.553000e+03,411.987953,41.064766,1.240487e+03,202.921125,0.011726,0.001437,0.011178,0.016865,66.861006,1.246241,0.231991,1.651730e+04,2141.756159,0.866911,0.198828,0.171739,0.070180,0.154037,3.178041,2255.702227,3.078551,1.763510,199.784770,1.416173e+03,0.003719,0.922822,1.539578,2.220898e+04,0.715823,830.199765,0.167233,0.007844,0.036846,182.90563,7677.959399,2808.147653,16015.063467,24.150099,175.634671,0.239399,0.052382,2.737301,2.565432,2.552375,2.438447,3.417985,1156.223362,941.733810,2.367433e+04,0.037025,0.021638,0.110434
std,3.791336,211010.935704,0.885259,0.847011,0.146734,0.233126,0.233793,0.128599,0.156103,0.063786,0.268595,0.214012,0.256956,373.231144,7457.931301,1.963289e+04,3733.176105,8658.826876,763.353447,3.094034e+04,1940.025520,10713.435556,5058.583838,2034.576960,5611.038507,13075.047657,1816.708313,2.027804e+04,17534.222920,2.943561e+04,3.593595e+04,294.491728,2828.295152,1007.219256,870.466495,2266.403847,3464.886738,3922.712525,9180.006399,NaN,3400.306802,1760.929768,2.850856e+04,7831.741847,6429.501117,6.382599e+04,2.853449e+04,6.670370e+04,1157.492960,1218.929098,492.246875,430.078383,7900.336711,1.078337e+04,6.473995e+04,1.148956e+05,0.468862,0.044023,0.034771,1.361009e+04,7006.369602,2.000834e+05,0.149797,5.073665e+04,9404.098026,10131.920841,5168.430606,3.449597e+04,8069.808333,1975.717830,9.376197e+04,2619.616229,0.107652,0.037886,0.105134,0.128767,893.875359,0.886521,0.513072,1.754687e+05,14640.699776,0.339675,0.399122,0.377170,0.255454,0.361018,1.322031,1341.888697,1.279070,0.606745,1875.352472,1.378108e+05,0.060868,0.266876,1.051432,2.168783e+05,0.451026,532.028646,0.373188,0.088220,0.188385,1457.75018,8040.693128,2576.276680,33225.426407,336.251649,1828.686225,0.426722,0.222798,1.755031,1.710197,1.392504,1.348559,0.744547,14157.921262,13661.206972,4.760015e+05,0.188839,0.145510,0.313456
min,2008.000000,173.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,600.000000,-56400.000000,0.000000,0.000000e+00,0.000000,1190.000000,0.000000,0.000000,0.000000,1190.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,100.000000,1.000000,1.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,25.000000,0.000000,0.000000,0.000000,0.00000,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,2010.000000,704928.250000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,200.000000,0.000000,0.000000e+00,3840.000000,4800.000000,0.000000,5.000000e+02,0.000000,9600.000000,0.000000,0.000000,0.000000,9600.000000,0.000000,1.000000e+03,4000.000000,6.200000e+03,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,4.677284e+02,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1500.000000,2.000000,1.000000,0.000000,0.000000e+00,0.000000,1.000000,1.000000,1.000000e+03,0.000000,500.000000,0.000000,0.000000,0.000000,0.00000,4500.000000,1200.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,2.000000,2.000000,3.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
50%,2012.000000,856688.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,300.000000,0.000000,0.000000e+00,6000.000000,7400.000000,0.000000,2.000000e+03,0.000000,14000.000000,0.000000,0.000000,0.000000,14400.000000,0.000000,5.000000e+03,9000.000000,1.410000e+04,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,4.000000e+03,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,3.000000,2000.000000,3.000000,2.000000,0.000000,0.000000e+00,0.000000,1.000000,1.000000,5.000000e+03,1.000000,700.000000,0.000000,0.000000,0.000000,0.00000,6350.000000,2400.000000,6600.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,2.000000,2.000000,4.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
75%,2016.000000,895849.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,500.000000,0.000000,0.000000e+00,8400.000000,12000.000000,0.000000,5.000000e+03,0.000000,19200.000000,0.000000,200.000000,500.000000,21600.000000,0.000000,1.000000e+04,15000.000000,2.600000e+04,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1.000000e+04,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2700.000000,4.000000,2.000000,0.000000,0.000000e+00,0.000000,1.000000,2.000000,1.400000e+04,1.000000,1000.000000,0.000000,0.000000,0.000000,0.00000,9000.000000,3600.000000,15000.000000,0.000000,0.000000,0.000000,0.000000,3.000000,3.000000,3.000000,3.000000,4.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
max,2020.000000,975482.000000,4.000000,15.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5600.000000,800000.000000,3.450000e+06,72000.000000,414000.000000,125000.000000,3.000000e+06,200000.000000,462000.000000,290000.000000,100000.000000,290000.000000,467000.000000,230000.000000,2.530000e+06,1000000.000000,2.560000e+06,1.587000e+06,25000.000000,183000.000000,117000.000000,150000.000000,170000.000000,360000.000000,270000.000000,700000.000000,NaN,240000.000000,300000.000000,4.519731e+06,1000000.000000,750000.000000,9.368472e+06,3.575000e+06,7.953499e+06,60000.000000,85000.000000,15000.000000,30000.000000,500001.000000,1.675277e+06,1.332299e+07,1.918666e+07,1.000000,1.000000,1.000000,1.672669e+06,848033.567750,1.956524e+07,1.000000,1.000000e+07,400000.000000,450000.000000,700000.000000,3.400000e+06,822555.802180,300000.000000,1.915758e+07,232773.230650,1.000000,1.000000,1.000000,1.000000,55000.000000,12.000000,6.000000,1.976550e+07,1000000.000000,1.000000,1.000000,1.000000,1.000000,1.000000,6.000000,50000.000000,6.000000,3.000000,151000.000000,1.895829e+07,1.000000,1.000000,12.000000,1.976550e+07,1.000000,16500.000000,1.000000,1.000000,1.000000,100000.00000,260000.000000,56600.000000,360000.000000,30000.000000,151000.000000,1.000000,1.000000,7.000000,7.000000,7.000000,7.000000,4.000000,825338.526280,707228.291370,1.918666e+07,1.000000,1.000000,1.000000

In [25]:
#for column in FAMI_x.select_dtypes(include='number').columns:
#    plt.figure(figsize=(6, 4))
#    sns.kdeplot(FAMI_x[column], shade=True)
#    plt.title(f'Distribution of {column}')
#    plt.show()

#### Characteristics of the residence home

In [26]:
IMMA = load_data(file_path,"imma.csv") 
IMMA = IMMA[IMMA["ANNO"].isin([2008,2010,2012,2014,2016,2020])]
IMMA_x = IMMA.drop(["ANNO","NQUEST"],axis=1)

In [27]:
IMMA.describe()

,ANNO,NQUEST,TIPOIMM,RESID,SUPAB,UBIC,CATABIT,ANCOSTR,VALABIT,AFFPAG,AFFPAGI,ANABIT,PROPRIET,TIPOUSO,TIPOAFF,UBIC1,UBIC2,BAGNI,RISCALD,PROPRIEN,TIPOAFFN,CATABITN,TIPOAFF2,PROPRIEN2
count,12499.000000,12499.000000,12499.0,12499.0,12499.000000,0.0,0.0,12499.000000,1.247800e+04,12492.000000,12498.000000,12499.000000,12499.000000,12499.000000,3227.000000,10172.000000,7857.000000,12499.000000,2299.000000,11298.000000,4458.000000,7857.000000,785.000000,1201.000000
mean,2012.694136,787686.898792,1.0,1.0,81.604288,NaN,NaN,1955.884311,1.474470e+05,2808.201729,1799.066446,1994.371950,1.250820,1.322346,3.051751,3.037161,2.722413,0.223058,0.784689,2.284475,3.038358,3.487718,2.315924,2.228143
std,3.570582,187237.737867,0.0,0.0,32.972691,NaN,NaN,54.129808,1.217016e+05,3000.400298,3261.685436,16.254044,0.433502,0.467393,2.025592,1.214404,0.608994,0.419759,0.411127,7.338571,2.205224,0.990347,1.348493,1.160994
min,2008.000000,465.000000,1.0,1.0,10.000000,NaN,NaN,1000.000000,2.000000e+03,0.000000,0.000000,1919.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2010.000000,718738.000000,1.0,1.0,60.000000,NaN,NaN,1950.000000,8.000000e+04,0.000000,0.000000,1985.000000,1.000000,1.000000,1.000000,2.000000,3.000000,0.000000,1.000000,1.000000,1.000000,3.000000,1.000000,1.000000
50%,2012.000000,858313.000000,1.0,1.0,80.000000,NaN,NaN,1966.000000,1.200000e+05,2400.000000,0.000000,1999.000000,1.000000,1.000000,2.000000,3.000000,3.000000,0.000000,1.000000,1.000000,2.000000,3.000000,2.000000,2.000000
75%,2016.000000,892153.500000,1.0,1.0,90.000000,NaN,NaN,1980.000000,1.800000e+05,4800.000000,3600.000000,2007.000000,2.000000,2.000000,5.000000,4.000000,3.000000,0.000000,1.000000,1.000000,6.000000,4.000000,4.000000,3.000000
max,2020.000000,975477.000000,1.0,1.0,1000.000000,NaN,NaN,2020.000000,3.000000e+06,66000.000000,72000.000000,2020.000000,2.000000,2.000000,7.000000,6.000000,3.000000,3.000000,1.000000,95.000000,7.000000,6.000000,5.000000,5.000000

In [28]:
#for column in IMMA_x.select_dtypes(include='number').columns:
#    plt.figure(figsize=(6, 4))
#    sns.kdeplot(IMMA_x[column], shade=True)
#    plt.title(f'Distribution of {column}')
#    plt.show()

## Dataset creation

In [29]:
RFAM = RFAM.rename(columns=lambda x: x + '_f' if x not in ['NQUEST','ANNO'] else x) # add a suffix to the columns of the RFAM df to identify the amounts referred to the family 

CONS = CONS.drop(['Y1','Y'],axis=1) # drop the incomes because they are already in the RFAM table

In [30]:
print(RPER.shape,RFAM.shape,COMP.shape,CONS.shape,RICF.shape,FAMI.shape,IMMA.shape)

# key NQUEST+ANNO : RFAM, CONS, RICF, FAMI, IMMA (smaller)
# key NQUEST+NORD+ANNO : RPER, COMP

(77382, 30) (45894, 31) (110791, 43) (45894, 9) (45894, 18) (45894, 120) (12499, 24)

#### Key NQUEST+ANNO

In [31]:
# Left join between the df with the regressors and the df with the dependent variable
# Filter RFAM where 'ANNO' is equal to 2020
RFAM_2020 = RFAM[RFAM['ANNO'] == 2020]

df20_1 = RFAM_2020.merge(q20d, on='NQUEST', how='left')

RICF_2020 = RICF[RICF['ANNO'] == 2020].drop('ANNO',axis=1)

df20_2 = df20_1.merge(RICF_2020, on='NQUEST', how='left')

FAMI_2020 = FAMI[FAMI['ANNO'] == 2020].drop('ANNO',axis=1)

df20_3 = df20_2.merge(FAMI_2020, on='NQUEST', how='left')

CONS_2020 = CONS[CONS['ANNO'] == 2020].drop('ANNO',axis=1)

df20_4 = df20_3.merge(CONS_2020, on='NQUEST', how='left')

IMMA_2020 = IMMA[IMMA['ANNO'] == 2020].drop('ANNO',axis=1)

df20_5 = df20_4.merge(IMMA_2020, on='NQUEST', how='left')

In [32]:
# Left join between the df with the regressors and the df with the dependent variable
# Filter RFAM where 'ANNO' is equal to 2016
RFAM_2016 = RFAM[RFAM['ANNO'] == 2016]

df16_1 = RFAM_2016.merge(q16d, on='NQUEST', how='left')

RICF_2016 = RICF[RICF['ANNO'] == 2016].drop('ANNO',axis=1)

df16_2 = df16_1.merge(RICF_2016, on='NQUEST', how='left')

FAMI_2016 = FAMI[FAMI['ANNO'] == 2016].drop('ANNO',axis=1)

df16_3 = df16_2.merge(FAMI_2016, on='NQUEST', how='left')

CONS_2016 = CONS[CONS['ANNO'] == 2016].drop('ANNO',axis=1)

df16_4 = df16_3.merge(CONS_2016, on='NQUEST', how='left')

IMMA_2016 = IMMA[IMMA['ANNO'] == 2016].drop('ANNO',axis=1)

df16_5 = df16_4.merge(IMMA_2016, on='NQUEST', how='left')

In [33]:
# Left join between the df with the regressors and the df with the dependent variable
# Filter RFAM where 'ANNO' is equal to 2014
RFAM_2014 = RFAM[RFAM['ANNO'] == 2014]

df14_1 = RFAM_2014.merge(q14d, on='NQUEST', how='left')

RICF_2014 = RICF[RICF['ANNO'] == 2014].drop('ANNO',axis=1)

df14_2 = df14_1.merge(RICF_2014, on='NQUEST', how='left')

FAMI_2014 = FAMI[FAMI['ANNO'] == 2014].drop('ANNO',axis=1)

df14_3 = df14_2.merge(FAMI_2014, on='NQUEST', how='left')

CONS_2014 = CONS[CONS['ANNO'] == 2014].drop('ANNO',axis=1)

df14_4 = df14_3.merge(CONS_2014, on='NQUEST', how='left')

IMMA_2014 = IMMA[IMMA['ANNO'] == 2014].drop('ANNO',axis=1)

df14_5 = df14_4.merge(IMMA_2014, on='NQUEST', how='left')

In [34]:
# Left join between the df with the regressors and the df with the dependent variable
# Filter RFAM where 'ANNO' is equal to 2012
RFAM_2012 = RFAM[RFAM['ANNO'] == 2012]

df12_1 = RFAM_2012.merge(q12d, on='NQUEST', how='left')

RICF_2012 = RICF[RICF['ANNO'] == 2012].drop('ANNO',axis=1)

df12_2 = df12_1.merge(RICF_2012, on='NQUEST', how='left')

FAMI_2012 = FAMI[FAMI['ANNO'] == 2012].drop('ANNO',axis=1)

df12_3 = df12_2.merge(FAMI_2012, on='NQUEST', how='left')

CONS_2012 = CONS[CONS['ANNO'] == 2012].drop('ANNO',axis=1)

df12_4 = df12_3.merge(CONS_2012, on='NQUEST', how='left')

IMMA_2012 = IMMA[IMMA['ANNO'] == 2012].drop('ANNO',axis=1)

df12_5 = df12_4.merge(IMMA_2012, on='NQUEST', how='left')

In [35]:
# Left join between the df with the regressors and the df with the dependent variable
# Filter RFAM where 'ANNO' is equal to 2010
RFAM_2010 = RFAM[RFAM['ANNO'] == 2010]

df10_1 = RFAM_2010.merge(q10d, on='NQUEST', how='left')

RICF_2010 = RICF[RICF['ANNO'] == 2010].drop('ANNO',axis=1)

df10_2 = df10_1.merge(RICF_2010, on='NQUEST', how='left')

FAMI_2010 = FAMI[FAMI['ANNO'] == 2010].drop('ANNO',axis=1)

df10_3 = df10_2.merge(FAMI_2010, on='NQUEST', how='left')

CONS_2010 = CONS[CONS['ANNO'] == 2010].drop('ANNO',axis=1)

df10_4 = df10_3.merge(CONS_2010, on='NQUEST', how='left')

IMMA_2010 = IMMA[IMMA['ANNO'] == 2010].drop('ANNO',axis=1)

df10_5 = df10_4.merge(IMMA_2010, on='NQUEST', how='left')

In [36]:
# Left join between the df with the regressors and the df with the dependent variable
# Filter RFAM where 'ANNO' is equal to 2008
RFAM_2008 = RFAM[RFAM['ANNO'] == 2008]

df08_1 = RFAM_2008.merge(q08d, on='NQUEST', how='left')

RICF_2008 = RICF[RICF['ANNO'] == 2008].drop('ANNO',axis=1)

df08_2 = df08_1.merge(RICF_2008, on='NQUEST', how='left')

FAMI_2008 = FAMI[FAMI['ANNO'] == 2008].drop('ANNO',axis=1)

df08_3 = df08_2.merge(FAMI_2008, on='NQUEST', how='left')

CONS_2008 = CONS[CONS['ANNO'] == 2008].drop('ANNO',axis=1)

df08_4 = df08_3.merge(CONS_2008, on='NQUEST', how='left')

IMMA_2008 = IMMA[IMMA['ANNO'] == 2008].drop('ANNO',axis=1)

df08_5 = df08_4.merge(IMMA_2008, on='NQUEST', how='left')

In [37]:
# List of DataFrames
dfs = [df20_5, df16_5, df14_5, df12_5, df10_5, df08_5]

# Concatenate the DataFrames along the rows
df0 = pd.concat(dfs, ignore_index=True)

#### Key NQUEST+NORD+ANNO

In [38]:
RPER_2020 = RPER[RPER['ANNO'] == 2020]
COMP_2020 = COMP[COMP['ANNO'] == 2020]

df2_20_1 = COMP_2020.merge(RPER_2020, on=['NQUEST','NORD'], how='left')

RPER_2016 = RPER[RPER['ANNO'] == 2016]
COMP_2016 = COMP[COMP['ANNO'] == 2016]

df2_16_1 = COMP_2016.merge(RPER_2016, on=['NQUEST','NORD'], how='left')

RPER_2014 = RPER[RPER['ANNO'] == 2014]
COMP_2014 = COMP[COMP['ANNO'] == 2014]

df2_14_1 = COMP_2014.merge(RPER_2014, on=['NQUEST','NORD'], how='left')

RPER_2012 = RPER[RPER['ANNO'] == 2012]
COMP_2012 = COMP[COMP['ANNO'] == 2012]

df2_12_1 = COMP_2012.merge(RPER_2012, on=['NQUEST','NORD'], how='left')

RPER_2010 = RPER[RPER['ANNO'] == 2010]
COMP_2010 = COMP[COMP['ANNO'] == 2010]

df2_10_1 = COMP_2010.merge(RPER_2010, on=['NQUEST','NORD'], how='left')

RPER_2008 = RPER[RPER['ANNO'] == 2008]
COMP_2008 = COMP[COMP['ANNO'] == 2008]

df2_08_1 = COMP_2008.merge(RPER_2008, on=['NQUEST','NORD'], how='left')

In [39]:
print(RPER_2020.shape, COMP_2020.shape, df2_20_1.shape)
print(RPER_2016.shape, COMP_2016.shape, df2_16_1.shape)
print(RPER_2014.shape, COMP_2014.shape, df2_14_1.shape)
print(RPER_2012.shape, COMP_2012.shape, df2_12_1.shape)
print(RPER_2010.shape, COMP_2010.shape, df2_10_1.shape)
print(RPER_2008.shape, COMP_2008.shape, df2_08_1.shape)

(10876, 30) (15198, 43) (15198, 71)
(11888, 30) (16462, 43) (16462, 71)
(13539, 30) (19366, 43) (19366, 71)
(13644, 30) (20022, 43) (20022, 71)
(13733, 30) (19836, 43) (19836, 71)
(13702, 30) (19907, 43) (19907, 71)

In [40]:
# List of DataFrames
dfs = [df2_20_1, df2_16_1, df2_14_1, df2_12_1, df2_10_1, df2_08_1]

# Concatenate the DataFrames along the rows
df1 = pd.concat(dfs, ignore_index=True)
df1 = df1.drop('ANNO_y',axis=1)
df1 = df1.rename(columns={'ANNO_x': 'ANNO'})

#### Merge the df0 and df1

In [41]:
print(df0.shape,df1.shape) # (45894, 198) (110791, 70)

(45894, 198) (110791, 70)

In [42]:
df = df1.merge(df0, on=['NQUEST','ANNO'], how='left')
df.shape # (110791, 266)

(110791, 266)

## Save the dataframe

In [43]:
# Save the DataFrame to a CSV file
df.to_csv("/Users/liaverso/Fair-Credit-Scoring/Data/input_df.csv", index=False)